.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination__link {
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.pagination__link--disabled {
  pointer-events: none;
  color: #ccc;
}

.pagination__link--active {
  font-weight: bold;
}
